
@font-face {
  font-family: 'font';
  src: url('font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#headin {
  font-family: 'font';
}


.card {


  /* @apply bg-[#311b54] rounded-xl shadow-[0_3px_15px_rgba(0,0,0,0.5)] overflow-hidden p-4 text-white text-center transition-transform hover:scale-105 cursor-pointer; */
  /* background-color: #311b54; 
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.5);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 15px;
  color: #f5f1e6; */
}
.card img {
  /* @apply ; */
  /* width: 100%; */
  /* border-radius: 8px;
  margin-bottom: 12px;
  display: block; */
}
/* .card:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 15px 5px #fbc02d,
    0 3px 15px rgba(0, 0, 0, 0.7);
}  */

.card h3 {
  margin: 0;
  font-size: 1.4rem;
}